
<button class="btn btn-primary btn-sm" routerLink="/save" routerLinkActive="active">save customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/update" routerLinkActive="active">update customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/delete" routerLinkActive="active">delete customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/get" routerLinkActive="active">get customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/get-all" routerLinkActive="active">get all customers</button>

<hr>
<router-outlet></router-outlet>
